@font-face {
  font-family:"NanumGothic";
  src: url("resources/fonts/NanumGothic.ttf") format("ttf");

  font-family:"NanumGothicBold";
  src: url("resources/fonts/NanumGothicBold.ttf") format("ttf");
}

body {
  background-image: url('resources/images/idfinder.jpg');
  background-repeat: no-repeat;
}

#idfinder_container {
  font-family: "NanumGothic";
  color: rgb(235, 235, 235);
}

#idfinder_container #wrap_content {
  width: 50%;
  height: 40%;
  background-color: black;
  opacity: 0.9;
}

#idfinder_container #wrap_content #tap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#idfinder_container #wrap_content #tap #left {

}

#idfinder_container #wrap_content #tap #right {

}

#idfinder_container #wrap_content #main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#idfinder_container #wrap_content #main #main_title {

}

#idfinder_container #wrap_content #main #input_name {

}

#idfinder_container #wrap_content #main #input_email {

}

#idfinder_container #wrap_content #main #btn_Result {

}
