@font-face {
  font-family:"NanumGothic";
  src: url("NanumGothic.ttf") format("ttf");

  font-family:"NanumGothicBold";
  src: url("NanumGothicBold.ttf") format("ttf");
}

body {
  font-family:"NanumGothic";
  color: white;
}

body .row {
  height: 60px;
  background-color: rgb(33, 33, 33);
  margin-bottom: 0px;
}

body a {
  color: white;
}

body .row div {
  height: 100%;
}

body #Wrapper #Title, body #Wrapper #Date {
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
}

body #Wrapper #Date {
  font-size: 16px;
}

body #Wrapper #UserData {
  font-size: 16px;
  line-height: 60px;
  vertical-align: middle;
  text-align: right;
}

body #Wrapper #UserData img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  vertical-align: middle;
}

body #Wrapper #Logout {
  line-height: 60px;
}

body #Wrapper #Logout .LogoutButton {
  font-family: "NanumGothic";
  margin-left: 40%;
  width: 75px;
  height: 29px;
  border-radius: 5px;
  border: none;
  background-color: rgb(252, 180, 22);
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}
