@font-face {
    font-family:'NanumBarunGothic';
    src: url('resources/font/NanumBarunGothic') format('truetype');
}

* {
    /* 개발 테스트용 테두리 설정 */
    /* border: 1px solid pink; */
    
}

#complain_container {
    height: 300px;
}

#complain_container #top_content {
    height: 300px;
}

#complain_container #top_content h2 {
    margin-top: 7%;
    font-weight: bold;
}

#complain_container #bottom_content {
    
}

#complain_container #bottom_content form #complain_title {
    margin-top: 3%;
    margin-bottom: 2%;
}

#complain_container #bottom_content form #complain_title a {
    font-size: 32px;
    font-weight: bold;
}

#complain_container #bottom_content form #complain_type {
    padding-right: 75%;
}

#complain_container #bottom_content form #complain_type label {
    font-size: 16px;
    font-weight: bold;
}

#complain_container #bottom_content form #complain_type #type {
    font-size: 14px;
}

#complain_container #bottom_content form #complain_type .select-wrapper ul * {
    color: rgb(33, 33, 33);
}

#complain_container #bottom_content form #complain_roomnumber {
    padding-right: 75%;
}

#complain_container #bottom_content form #complain_roomnumber #roomnumber {
    
}

#complain_container #bottom_content form #complain_user_name {
    padding-right: 75%;
}

#complain_container #bottom_content form #complain_article_title {
    
}

#complain_container #bottom_content form #complain_article_content {
    
}

#complain_container #bottom_content form #complain_article_content #content {
    height: 250px;
}

#complain_container #bottom_content form #complain_input_file {
    
}

#complain_container #bottom_content form #complain_input_file #file_button {
    margin-top: 2%;
    font-size: 12px;
    width: 60px;
    height: 40px;
}

#complain_container #bottom_content form #complain_input_file #file_button a {
    
}

#complain_container #bottom_content form #complain_submit {
    text-align: right;
    margin-bottom: 200px;
}

#complain_container #bottom_content form #complain_submit #submit {
    width: 100px;
    height: 40px;
}