@font-face {
  font-family:"NanumGothic";
  src: url("resources/fonts/NanumGothic.ttf") format("ttf");

  font-family:"NanumGothicBold";
  src: url("resources/fonts/NanumGothicBold.ttf") format("ttf");
}

#index_container {
    background-color: #e0e0e0;
}