@charset "UTF-8";

@font-face {
    src: url();
    font-family: "NBG";
}

body {
  background: url(AuthBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  margin: 0px;
  padding: 0px;
}

.TopContainer {
  height: 102px;
}

.MainContainer {
  display: grid;
  grid-template-columns: 6fr 3fr 1fr;
  height: 805px;
}
.MainContainer .MainLeft {

}
.MainContainer .MainContent {
  display: grid;
  grid-template-rows: 2fr 0.5fr 5fr 0.2fr 1.3fr;
}
.MainContainer .MainContent .MainTitle {
  display: grid;
  grid-template-columns: 1.2fr 3.8fr;
}
.MainContainer .MainContent .MainTitle .TitleLogo {
  border: 1px solid black;
}
.MainContainer .MainContent .MainTitle .TitleContent {
  border: 1px solid black;
  text-align: right;
  padding: 20px 30px;
}
.MainContainer .MainContent .LoginTitle {
  border: 1px solid black;
  border-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.MainContainer .MainContent .LoginForm {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.MainContainer .MainContent .LoginFinder {
  padding: 15px 0px;
  border: 1px solid black;
  border-top: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.MainContainer .MainContent .MainBottom {

}
.MainContainer .MainRight {

}

.Copyright {
  height: 28px;
  border: 1px solid black;
  color: white;
  font-size: 8px;
  font-family: sans-serif;
  text-align: left;
  background: gray;
}
